{% extends "layout.html" %}

{% block title %}Tweet Milestone{% endblock %}

{% block header_content %}
<h1>Tweet Milestone</h1>

<p>Discover your next Tweet Milestone and how often you’ll need to tweet to reach it by your next anniversary.</p>
{% endblock %}

{% block content %}
<p>Enter your Twitter username below to find out when your next Tweet Milestone is.</p>

<form class="" action="/info" method="get" id="form-get-info">
  <label for="input-username">
    Twitter username
    <input type="text" name="username" value="" id="input-username">
  </label>

  <button type="submit">Get milestone</button>
</form>
{% endblock %}

{% block scripts %}{% include "includes/_form-script.html" %}{% endblock %}
