{% extends "layout.html" %}

{% block title %}Twitter Milestone{% endblock %}

{% block page_header %}
<h1>Twitter Milestone</h1>
{% endblock %}

{% block content %}
<form class="" action="/info" method="get" id="form-get-info">
  <label for="input-username">
    Twitter username
    <input type="text" name="username" value="" id="input-username">
  </label>

  <button type="submit">Get countdown</button>
</form>
{% endblock %}

{% block scripts %}{% include "includes/_form-script.html" %}{% endblock %}
