{% extends "layout.html" %}

{% block title %}{{user.name}}'s Tweet Milestone{% endblock %}

{% block header_content %}
  <div class="milestone-header">
    <h1>{{ user.name }}’s Tweet Milestone</h1>
  </div>

  <div class="milestone">
    <span>{{ tweetDifference | formatNumber }}</span>
    tweets to reach your {{ nextMilestone | formatNumber }} tweet milestone
  </div>
{% endblock %}

{% block content %}
  <p>Your {{ (ageYears + 1) | formatOrdinal }} anniversary is in {{ nextAnniversary | formatNumber }}.</p>

  <p>You will need to tweet at least {{ tweetTimes | formatNumber }} times a day to reach your milestone by then.</p>

  <p>You've tweeted {{ tweetCount | formatNumber }} times. An average of {{ averageTweets | formatNumber }} tweets a day.</p>
{% endblock %}
